@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using WebAppCZN.Data.BD
@inject WebAppCZN.Data.ApplicationDbContext _context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - АИС-ЦЗН</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppCZN.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-switch@3.3.4/dist/css/bootstrap3/bootstrap-switch.min.css">

    <style>

    
        .table a {
            text-decoration: none;
            color: inherit;
        }

        .offcanvas-backdrop {
            display: none; /* Hide the offcanvas backdrop */
        }

        body.offcanvas-open {
            overflow-x: hidden;
            position: relative;
        }

            body.offcanvas-open::before {
                content: "";
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.5);
                z-index: 1040; /* Adjust this value based on your needs */
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                <a class="navbar-brand" asp-page="Index">АИС-ЦЗН</a>
               
                @if (SignInManager.IsSignedIn(User))
                {
                  
                    <button class="" type="button" data-bs-toggle="offcanvas" data-bs-target="#tableOffcanvas" aria-controls="tableOffcanvas">
                        Список таблиц
                    </button>
                   
                }
                </div>
                  <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="tableOffcanvas" aria-labelledby="tableOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tableOffcanvasLabel">Список таблиц</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled">
                <li class="mb-2"><a asp-page="/Vak/Index" class="btn btn-primary">Вакансии</a></li>
                <li class="mb-2"><a asp-page="/LD_new/Index" class="btn btn-primary">Личные данные</a></li>
                <li class="mb-2"><a asp-page="/Rezume_new/Index" class="btn btn-primary">Резюме</a></li>
                <li class="mb-2"><a asp-page="/Opyt_new/Index" class="btn btn-primary">Опыт работы</a></li>
                <li class="mb-2"><a asp-page="/Sv_obr_new/Index" class="btn btn-primary">Сведения об образовании</a></li>
                <li class="mb-2"><a asp-page="/Org/Index" class="btn btn-primary">Организации</a></li>
                <li class="mb-2"><a asp-page="/Graphik/Index" class="btn btn-primary">График работы</a></li>
                <li class="mb-2"><a asp-page="/Zaya/Index" class="btn btn-primary">Заявления</a></li>
                <li class="mb-2"><a asp-page="/Lich_dela/Index" class="btn btn-primary">Личные дела</a></li>
                <li class="mb-2"><a asp-page="/Obr/Index" class="btn btn-primary">Образование</a></li>
                <li class="mb-2"><a asp-page="/Osn_uvol/Index" class="btn btn-primary">Основания увольнения</a></li>
                <li class="mb-2"><a asp-page="/Pol/Index" class="btn btn-primary">Пол</a></li>
                <li class="mb-2"><a asp-page="/Pose/Index" class="btn btn-primary">Посещения</a></li>
                <li class="mb-2"><a asp-page="/Predl/Index" class="btn btn-primary">Предложенные вакансии</a></li>
                <li class="mb-2"><a asp-page="/Sv_lm/Index" class="btn btn-primary">Сведения о последнем месте работы</a></li>
                <li class="mb-2"><a asp-page="/Tip/Index" class="btn btn-primary">Тип занятости</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - АИС-ЦЗН
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>


    <script>
        document.addEventListener('click', function (event) {
            var tableOffcanvas = document.getElementById('tableOffcanvas');
            if (tableOffcanvas.classList.contains('show') && !tableOffcanvas.contains(event.target)) {
                var tableButton = document.querySelector('[data-bs-target="#tableOffcanvas"]');
                if (tableButton && !tableButton.contains(event.target)) {
                    tableButton.click();
                }
            }
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>