@page
@model WebAppCZN.Pages.Sv_obr.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Сведения_об_образовании</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Сведения_об_образовании.ID_сведения_об_образовании" />
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.Учебное_заведение" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.Учебное_заведение" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.Учебное_заведение" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.Год_окончания" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.Год_окончания" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.Год_окончания" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.Специальность" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.Специальность" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.Специальность" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.Серия_диплома" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.Серия_диплома" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.Серия_диплома" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.Номер_диплома" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.Номер_диплома" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.Номер_диплома" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.Дата_выдачи_диплома" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.Дата_выдачи_диплома" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.Дата_выдачи_диплома" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.ID_резюме" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.ID_резюме" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.ID_резюме" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Сведения_об_образовании.ID_образования" class="control-label"></label>
                <input asp-for="Сведения_об_образовании.ID_образования" class="form-control" />
                <span asp-validation-for="Сведения_об_образовании.ID_образования" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
