@page
@model WebAppCZN.Pages.Zaya.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Заявление</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Заявление.Дата_подачи" class="control-label"></label>
                <input asp-for="Заявление.Дата_подачи" class="form-control" />
                <span asp-validation-for="Заявление.Дата_подачи" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Заявление.Признание_безработным" class="control-label"></label>
                <input asp-for="Заявление.Признание_безработным" class="form-control" />
                <span asp-validation-for="Заявление.Признание_безработным" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Заявление.Результат_подачи" class="control-label"></label>
                <input asp-for="Заявление.Результат_подачи" class="form-control" />
                <span asp-validation-for="Заявление.Результат_подачи" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Заявление.Комментарий" class="control-label"></label>
                <input asp-for="Заявление.Комментарий" class="form-control" />
                <span asp-validation-for="Заявление.Комментарий" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Заявление.ID_личных_данных" class="control-label"></label>
                <select asp-for="Заявление.ID_личных_данных" class ="form-control" asp-items="ViewBag.ID_личных_данных"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
